[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pymongo = {extras = ["srv"], version = "*"}
"discord.py" = "*"
dnspython = "*"

[requires]
python_version = "3.8"
