[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = {extras = ["srv"], version = "*"}
"discord.py" = "==1.3.3"

[requires]
python_version = "3.8"
